@import "tailwindcss";

body{
   font-family: "Roboto", sans-serif;
}
.firstName-secondName{
  @apply border-gray-300 border w-full h-10 rounded-md pl-2
}

.dateOfBirth{
  @apply border-gray-300 border w-full h-10 rounded-md pl-2 
}
.gender{
  @apply border-gray-300 border w-full h-10 rounded-md flex gap-4 items-center
}
.email-password{
  @apply block border-gray-300 border w-[93%]  h-10 rounded-md pl-2 ml-4
}
.shered-paragraph-style{
  @apply inline text-[13px] text-gray-500
}

.see-more-less-button{
  @apply text-left hover:bg-gray-200 w-full py-2 pl-2 ml-12 rounded-xl cursor-pointer 
}
.arror-shere{
  @apply inline-block w-6 h-6 p-1 cursor-pointer bg-gray-300 rounded-full mr-3
}
.post-attarch{
  @apply cursor-pointer hover:bg-gray-200 mb-1 pt-1 px-2 rounded-xl
}
.profile-edit-story{
  @apply px-4 py-1 text-[15px] rounded-md cursor-pointer
}
.profile-sections{
  @apply hover:bg-gray-300 p-3 text-[14px] text-nowrap rounded-md mt-1 cursor-pointer text-gray-500
}
.shere-intro-buttons{
  @apply bg-gray-200 py-[7px] md:px-32 px-20 rounded-md ml-4 mr-4 text-[15px] font-medium cursor-pointer
}
.shered-paragraph-style{
    @apply inline-block text-xs ml-2 hover:underline;
}